#form-area {
    padding-top: 40px !important;
}

.contact-us-modal-inner #form-area .contact-dialog-close {
    right: 16px !important;
    position: absolute !important;
    margin-top: 10px !important;
    left: auto !important;
    font-size: 22px !important;
}

#overlay {
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: white;
    transition: 1s 0.4s;
}

.centar {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -146.5px;
    margin-top: -146.5px;
}

.color-black {
    color: #000 !important;
}

.color-white {
    color: #fff !important;
}

.color-blue {
    color: #0088ca !important;
}

.banner-content .color-blue {
    color: #0088ca !important;
}

.banner-content .color-blue svg g {
    stroke: #0088ca !important;
}

.color-orange {
    color: #ff9c25 !important;
}

.banner-content .color-orange {
    color: #ff9c25 !important;
}

.banner-content .color-orange svg g {
    stroke: #ff9c25 !important;
}

.text-decoration-underline {
    text-decoration: underline !important;
}

body {
    font-family: 'Open Sans', sans-serif !important;
    /*font-family: 'product-sans-regular';*/
    /*font-family: "Source Sans Pro",sans-serif !important;*/
    color: #333333;
}

.navbar-header {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
    z-index: 9;
    position: relative;
}

.dropdown:hover .nav-link {
    background: #fff;
    border: 1px solid #ccc;
    position: relative;
    border-bottom: 0;
    border-radius: 5px 5px 0px 0px;
    z-index: 10000;
}

.dropdown:hover .dropdown-menu {
    display: block;
    top: 83px;
    left: -35px;
}

.nav-link {
    font-size: 17px !important;
    padding: 4px 18px !important;
    color: #333333 !important;
    border: 1px solid transparent;
    margin-right: 15px;
}

.navbar-brand .logo {
    width: 142px;
    margin-top: 18px;
    margin-bottom: 10px;
}

.phone {
    font-family: 'Open Sans', sans-serif;
    color: #000;
    font-size: 14px;
    margin: 5px 0px 15px 0px;
    font-weight: 300;
}

.login-link {
    padding: 4px 15px;
    color: #000;
    font-weight: 300;
    text-decoration: underline;
}

.login-link:hover {
    color: #FFF !important;
    text-decoration: none;
    position: relative;
}

.btn-request {
    color: white;
    padding: 4px 12px;
    margin-bottom: 0;
    margin-left: .3em;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    background: #ff9c25;
    border-color: rgba(0, 0, 0, .1) rgba(0, 0, 0, .1) rgba(0, 0, 0, .25);
}

.btn-request:hover {
    color: #ffffff;
    background: #ffb052;
}

.megamenu-title {
    font-size: 26px;
    color: #0088ca;
    margin: 0;
    font-weight: 600;
    line-height: 1em !important;
}

.col-megamenu a {
    text-decoration: none;
    color: inherit;
}

.col-megamenu .title {
    font-size: 16px;
    font-weight: bold;
    color: #0088ca;
    margin: 5px 0;
    padding: 0;
    line-height: 1.3;
}

.col-megamenu .title-text {
    font-size: 14px !important;
    text-rendering: optimizeLegibility;
    font-family: Arial !important;
}

.col-megamenu:hover .title {
    text-decoration: underline;
}

.col-megamenu:hover .title-text {
    color: #0088ca;
}

.banner-1-m {
    background: url(../images/cv-2.png) !important;
}

.banner-1 {
    background: url(../images/telehealth-banner-min.png);
    background-repeat: no-repeat !important;
    width: 100%;
    background-position: 49%;
    position: relative;
}

.banner-1 .container,
.banner-2 .container {
    height: 470px;
}

.banner-1 .banner-content {
    top: 50%;
    left: 50%;
    margin-right: -40%;
    transform: translate(-35%, -50%);
    position: absolute;
}

.banner-2-m {
    background: url(../images/covid-19-mob.jpg) !important;
}

.banner-2 {
    background: url(../images/cv-2.png);
    background-repeat: no-repeat !important;
    width: 100%;
    background-position: 49%;
    height: 470px;
    ;
}

.banner-2 .banner-content {
    top: 50%;
    left: 35%;
    margin-right: -40%;
    transform: translate(-35%, -50%);
    position: absolute;
    width: 100%;
}

.bg-change-m {
    background: url(../images/medical_banner-mob.jpg) top right !important;
}

.bg-change {
    background: url(../images/medical_banner-min.jpg) top right;
    background-repeat: no-repeat !important;
    width: 100%;
    background-position: right;
}

.bg-5-m {
    background: url(../images/speciality-ehr-mob.jpg) !important;
}

.bg-5 {
    background: url(../images/speciality-ehr-min.jpg);
    background-repeat: no-repeat !important;
    width: 100%;
    background-position: center;
}

.no-banner {
    background: #ebf0f6;
}

.no-banner .banner-content img {
    display: inline-block !important;
    width: auto !important;
}

.no-banner .banner-content .b-h-1,
.no-banner .banner-content .b-h-2 {
    color: #454545;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 500;
    font-size: 60px;
}

.no-banner .banner-content .b-h-2 {
    font-size: 31px;
    line-height: 45px;
    padding-top: 1px;
    padding-bottom: 5px;
}

.b-h-1 {
    font-size: 70px;
    line-height: 75px;
    font-weight: 500 !important;
    color: #454545;
}

.add-css {
    font-size: 60px;
    line-height: 75px;
    font-weight: 500 !important;
    color: #454545;
    position: relative;
    left: -5px;
}

.b-h-2 {
    color: #454545;
    padding-top: 4px;
    font-size: 25px;
}

.fz-24 {
    font-size: 24px;
}

.b-l {
    height: 2rem;
    line-height: 2rem;
    cursor: pointer;
    font-weight: 400;
    text-decoration: none !important;
    font-size: 18px !important;
    color: #fff !important;
}

.b-l .arrow-icon {
    position: relative;
    top: -1px;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
    vertical-align: middle;
}

.b-l .arrow-icon g {
    stroke: #fff !important;
}

.b-l .arrow-icon--circle {
    transition: stroke-dashoffset .3s ease;
    stroke-dasharray: 95;
    stroke-dashoffset: 95;
}

.b-l:hover .arrow-icon {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
}

.b-l:hover .arrow-icon--circle {
    stroke-dashoffset: 0;
}

.a-dots {
    position: absolute;
    z-index: 99;
    width: 100%;
    text-align: center;
    bottom: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.a-dots button {
    opacity: 1.0 !important;
    border: none;
    border-radius: 50% !important;
    transition: transform 1.5s cubic-bezier(0.24, 1.45, 0.24, 0.98);
}

.a-dots button.active {
    transition: 0.5s transform !important;
    border: 2px solid #0088ca !important;
}

.a-dots button span {
    display: block;
    width: 8px;
    height: 8px;
    margin: 2px 3px 2px 6px;
    opacity: 1;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: #a6a6a6;
}

.a-dots .a-dot {
    border-radius: 50px;
    height: 20px;
    width: 20px;
    margin-right: 1px !important;
}

.a-dots .a-dot span {
    background: #fff !important;
}

.a-dots .a-dot:hover span {
    background: #0088ca !important;
}

.a-dots .a-dot:focus {
    outline: 0;
}

.a-dots .active {
    border: 1px solid #0088ca !important;
}

.a-dots .active:hover {
    transform: scale(1.3) !important;
    transition: 0.5s transform !important;
}

.a-dots .active span {
    width: 8px !important;
    height: 8px !important;
    margin: 0px 3px 0 4px !important;
    background: #0088ca !important;
}

#feature-carousel {
    border-bottom: 1px solid #e9e9e9;
    margin: 0;
    background: white;
    font-size: 20px !important;
    line-height: 50px !important;
    height: 50px !important;
}

.news-poster {
    line-height: 56px;
    background: #ffc90e;
    width: 100%;
    color: #0088ca !important;
    font-size: 24px;
    text-decoration: underline !important;
    height: 56px;
    position: relative;
    z-index: 99;
}

.news-poster:hover a {
    color: red;
}

.features .f-h {
    color: #777777 !important;
    font-size: 50px;
    letter-spacing: -2px;
    line-height: 60px;
    font-weight: 300;
}

.f-icons {
    background: url(../images/solution-icons.png) no-repeat top left;
    width: 60px;
    height: 60px;
    line-height: 14px;
    vertical-align: text-top;
    float: left;
}

.icon-ehr {
    background-position: 0 -60px;
}

.icon-practice-management {
    background-position: -61px -60px;
}

.icon-medical-billing-services {
    background-position: -121px -60px;
}

.icon-electronic-prescribing {
    background-position: -721px -60px;
}

.icon-avalon {
    background-position: -240px -60px;
}

.icon-patient-portal {
    background-position: -300px -60px;
}

.f-c-div {
    padding-left: 70px;
    padding-top: 5px;
}

.f-c-div h3 {
    color: #0088ca !important;
    font-size: 24px;
    margin-bottom: 2px;
}

.f-c-div p {
    font-size: 15px;
    color: #434343;
    line-height: 25px;
}

.f-c-media {
    height: 175px;
}

.speciality-section {
    background: #0088ca;
    padding: 40px 0 !important;
}

.speciality-section-h {
    font-size: 50px;
    color: #fff;
}

.speciality-section p {
    font-size: 16px;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 50%;
    margin: auto;
}

.speciality-section .anchor-link {
    cursor: pointer;
    font-weight: 400;
    text-decoration: none;
    color: #FFF;
    font-size: 18px;
}

.speciality-search {
    width: 497px;
    position: relative;
    padding-top: 15px;
    padding-bottom: 30px;
    margin: 0 auto;
}

.speciality-search input {
    width: 100%;
    height: 70px;
    overflow: hidden;
    border-radius: 7px;
    font-size: 18px;
    padding-left: 15px;
    border: none;
    color: #48b6f9;
    padding-right: 85px;
}

.speciality-search input:focus {
    outline: 0;
}

.speciality-search .s-s-i {
    position: absolute;
    top: 17px;
    right: 0;
}

.speciality-search .s-s-i span {
    font-size: 72px;
    font-weight: bold;
    color: #0088ca;
    opacity: 0.4;
}

.customer-section .c-s-h {
    color: #777777;
    font-size: 50px;
    letter-spacing: -2px;
    font-weight: lighter;
    margin-bottom: 40px;
}

.customer-section .customer-box {
    border: 1px solid #e9e9e9;
    width: 100%;
    position: relative;
    border-radius: 7px;
    overflow: hidden;
    background: #FFF;
}

.customer-section .customer-box .wistia_click_to_play {
    height: auto !important;
    width: auto !important;
}

.customer-box .cb-img {
    width: 100%;
    cursor: pointer;
    transition: all 1s;
    overflow: hidden;
}

.customer-box .cb-img:hover {
    transform: scale(1.2);
}

.customer-box .stripe {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 0;
    height: 33px;
    cursor: pointer;
}

.stripe .color {
    background-color: rgba(0, 136, 202, 0.8);
    height: 33px;
}

.stripe .play-icon {
    position: relative;
    top: -60px;
}

.customer-box .person-intro {
    text-align: center;
    padding-top: 4%;
    padding-bottom: 10px;
    background: white;
    z-index: 9;
    position: relative;
}

.customer-box .person-intro h3 {
    font-size: 21px;
    font-weight: 400;
    color: #4d4d4d;
    margin-bottom: 0px;
}

.customer-box .person-intro p {
    font-size: 15px;
    line-height: 1.8em;
    color: #909090;
    margin-bottom: 0;
}

.br-bottom-grey {
    border-bottom: 1px solid #454545;
}

.br-right-grey {
    border-right: 1px solid #454545;
}

.upper-footer {
    background: #333333;
}

.upper-footer .u-f-title {
    text-align: left;
    font-size: 22px;
    color: #999;
}

.upper-footer .u-f-subtitle {
    font-size: 14px;
    color: #bdbdbd;
    line-height: 30px;
}

.upper-footer .f-underline {
    border-top: 3px solid #bdbdbd;
    position: relative;
    width: 10%;
    padding: 0px;
    margin: 0px 0px;
    margin-bottom: 15px;
    text-align: left;
}

.upper-footer .u-f-ul {
    list-style: none;
    text-align: left;
    color: #a4a4a6;
    line-height: 24px;
}

.upper-footer .u-f-ul li.f-ul-link {
    line-height: 24px;
    text-decoration: none;
}

.upper-footer .u-f-ul li.f-ul-link a {
    color: #FFF;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

.upper-footer .u-f-ul li.f-ul-link a::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    max-height: 1px;
    background-color: #48b6f9;
    transition: width .3s;
    margin: 0 auto;
}

.upper-footer .u-f-ul li.f-ul-link a:hover {
    color: #48b6f9;
    text-decoration: none;
}

.upper-footer .u-f-ul li.f-ul-link a:hover::after,
.upper-footer .u-f-ul li.f-ul-link a:hover::before {
    width: 100%;
}

.home-form .h-f-tabs {
    border: none;
}

.home-form .h-f-tabs li {
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    background-color: white;
    border-radius: 5px;
    font-weight: 500;
    font-size: 14px;
    margin-right: 5px;
}

.home-form .h-f-tabs li a {
    border: none;
    padding: 5px 14px !important;
    margin: 0px;
    font-size: 13px !important;
}

.home-form .h-f-tabs li a.active {
    color: #fff !important;
    background-color: #0088ca;
    border-radius: 5px;
}

.home-form .h-f-tabs li a.active:hover {
    border: none;
}

.hbspt-form {
    margin-top: 20px;
    ;
}

.home-form .tab-content .tab-pane .hbspt-form .hs-form-field {
    width: 49% !important;
    float: left !important;
    margin-bottom: 10px;
}

.home-form .tab-content .tab-pane .hbspt-form .hs-comments {
    width: 100% !important;
}

.home-form .tab-content .tab-pane .hbspt-form label {
    margin-bottom: 0px;
}

.home-form .tab-content .tab-pane .hbspt-form label:not(.hs-error-msg) {
    display: none;
}

.home-form .tab-content .tab-pane .hbspt-form fieldset .field .input {
    margin-right: 8px;
}

.home-form .tab-content .tab-pane .hbspt-form fieldset .field:nth-of-type(2) {
    float: right !important;
}

.home-form .tab-content .tab-pane .hbspt-form fieldset .field:nth-of-type(2) .input {
    margin-right: 0;
}

.home-form .tab-content .tab-pane .hbspt-form input {
    width: 100% !important;
    padding: 5px 5px 5px 12px;
    height: 30px !important;
    border-radius: 4px !important;
    max-height: 37px !important;
    border: none;
    color: #555 !important;
    font-size: 14px;
}

.home-form .tab-content .tab-pane .hbspt-form input.hs-button {
    margin-bottom: 0;
    height: 32px !important;
    font-weight: bold;
    padding: 5px 73px !important;
}

.home-form .tab-content .tab-pane .hbspt-form input::placeholder {
    color: #555 !important;
}

.home-form .tab-content .tab-pane .hbspt-form .hs-error-msgs {
    display: block;
    margin: 0px;
    padding: 0px;
    /* height: 0px; */
}

.contactEmail fieldset label:not(.hs-error-msg) span:first-of-type {
    color: #918B8B;
}

.contactEmail fieldset {
    width: 100%;
    max-width: initial !important;
}

.contactEmail fieldset .input {
    text-align: left;
}

.contactEmail fieldset .hs-input {
    width: 95%;
}

.contactEmail fieldset .field {
    text-align: left;
}

.contactEmail .actions {
    text-align: left;
}

.contactEmail fieldset .hs-input:nth-of-type(2),
.contactEmail fieldset textarea.hs-input {
    width: 100% !important;
    max-width: initial !important;
}

.contactEmail .hs-fieldtype-textarea .input {
    margin-right: 0;
}

.contactEmail .hs-submit input {
    background: #FFA539;
    border-color: #FFA539;
    margin-top: 15px;
}

.inputs-list>li {
    padding-top: 4px !important;
    display: inline-block;
}

.home-form .tab-content .tab-pane .hbspt-form .hs-error-msg {
    color: yellow !important;
    display: block !important;
    margin-left: 0px !important;
    padding-left: 0px !important;
    font-size: 13px !important;
    height: 15px;
    margin-top: -3px;
}

.only_footer .hbspt-form textarea {
    padding: 5px;
    color: #555 !important;
    font-size: 14px;
}

.only_footer .hbspt-form textarea::placeholder {
    color: #555 !important;
}

.home-form .tab-content .tab-pane .hbspt-form textarea {
    width: 257px;
    border-radius: 5px;
    height: 32px;
    border: none;
}

.hs_submit .actions {
    padding: 0;
    margin: 0;
}

.home-form .tab-content .tab-pane .hbspt-form .hs_submit input[type="submit"] {
    background: #0088ca;
    color: #fff !important;
}

.link-hover {
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

.link-hover::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    max-height: 1px;
    background-color: #48b6f9;
    transition: width .3s;
    margin: 0 auto;
}

.link-hover:hover {
    color: #48b6f9 !important;
    text-decoration: none;
    display: inline-block;
}

.link-hover:hover::after,
.link-hover:hover::before {
    width: 100%;
}

.h-128 {
    height: 128px;
}

.copywriter-footer {
    background: #2b2b2b;
}

.additional-links li,
.social_icons li {
    display: inline-block;
}

.c-f-links .additional-links li,
.copywriter-footer .c-f-registered {
    font-size: 13px;
    color: #fff;
    padding-top: 15px;
}

.copywriter-footer .c-f-registered {
    text-align: left;
}

.copywriter-footer .c-f-links {
    text-align: right;
}

.copywriter-footer .c-f-registered p {
    margin-bottom: 5px;
}

.copywriter-footer .c-f-registered img {
    height: auto !important;
    width: 81px;
    padding-bottom: 16px;
}

#ui-id-1 {
    list-style: none;
    padding-left: 0px;
    max-width: 497px;
    border-radius: 8px;
    margin-top: 15px;
    max-height: 353px;
    overflow: auto;
}

#ui-id-1 li {
    border-bottom: 1px solid #eee;
    font-size: 100%;
    height: 50px;
    line-height: 2;
    margin-bottom: 0;
    margin-left: -5px;
    padding-left: 15px;
    padding-top: 9px;
    background: white;
    padding-bottom: 15px;
    cursor: pointer;
}

#ui-id-1 li:hover {
    color: #fff;
    background: #0088ca;
}

.ui-helper-hidden-accessible {
    display: none;
}


/* For Chat and Support  */

.follow-actions .action i.contact-icon-phone2 {
    background-position: 10px -92px;
}

.follow-actions .action a:hover i.contact-icon-phone2 {
    background-position: -41px -92px;
    background-color: #0088ca;
}

.follow-actions .action .peep-text2 {
    position: absolute;
    top: 5px;
    width: 100px;
    color: #3c4345;
    font-size: 13px;
    font-weight: 400;
    text-align: left;
    opacity: 0;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transition: transform 325ms ease-out, opacity 225ms ease-out;
    -webkit-transition: transform 325ms ease-out, opacity 225ms ease-out;
    z-index: 500;
    left: 86px;
    letter-spacing: 0;
}

.follow-actions:hover .action .peep-text2 {
    transform: translate3d(-20px, 0, 0);
    -webkit-transform: translate3d(-20px, 0, 0);
    opacity: 1;
}

.follow-actions .action:hover .peep-text2 {
    color: #0088ca;
}

.down {
    top: 21px !important;
}

.follow-actions {
    display: block;
    position: fixed;
    list-style: none;
    padding: 0;
    margin: 0;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transition: transform 225ms ease-out, right 125ms ease-out, opacity 500ms ease-out;
    -webkit-transition: transform 225ms ease-out, right 125ms ease-out, opacity 500ms ease-out;
    right: -127px;
    width: 172px;
    z-index: 10000;
    overflow: visible;
    border: 0 none;
    /*border: 1px solid #0088ca;*/
    border-right: 0;
    /*border-radius: 10px;*/
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.follow-actions.block {
    display: block;
    visibility: visible;
}

.follow-actions .action {
    position: relative;
    height: 46px;
    width: 172px;
    background-color: rgba(246, 246, 246, 0.94);
    cursor: pointer;
    transition: background-color 200ms ease-out;
    -webkit-transition: background-color 200ms ease-out;
    border-bottom: 0 none;
}

.follow-actions .action a {
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    text-align: center;
    z-index: 600;
    background-color: transparent;
    transition: background-color 200ms ease-out;
    -webkit-transition: background-color 200ms ease-out;
}

.follow-actions .action i.contact-icon-email {
    background-position: 10px 15px;
}

.follow-actions .action i {
    position: relative;
    top: 0;
    left: 0;
    color: #2c84a2;
    font-size: 1.1875em;
    width: 46px;
    height: 46px;
    background: transparent url(../images/contact-icons-curemd.png) 0 0 no-repeat;
    -moz-transition: background-color .4s ease, background-position .2s ease;
    -ie-transition: background-color .4s ease, background-position .2s ease;
    -o-transition: background-color .4s ease, background-position .2s ease;
    -webkit-transition: background-color .4s ease, background-position .2s ease;
    transition: background-color .4s ease, background-position .2s ease;
    display: block;
    border-right: 1px solid #DDD;
}

.follow-actions .action i.contact-icon-phone {
    background-position: 10px -55px;
}

.follow-actions .action i.contact-icon-chat {
    background-position: 10px -18px;
}

.follow-actions:hover {
    right: 0;
}

.follow-actions .action .peep-text {
    position: absolute;
    top: 12px;
    width: 100px;
    color: #3c4345;
    font-size: 13px;
    font-weight: 400;
    text-align: left;
    opacity: 0;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transition: transform 325ms ease-out, opacity 225ms ease-out;
    -webkit-transition: transform 325ms ease-out, opacity 225ms ease-out;
    z-index: 500;
    left: 86px;
    letter-spacing: 0;
}

.follow-actions .action:hover .peep-text {
    opacity: 1;
    color: #0088ca;
}

.follow-actions:hover .action .peep-text {
    transform: translate3d(-20px, 0, 0);
    -webkit-transform: translate3d(-20px, 0, 0);
    opacity: 1;
}

.follow-actions .action a:hover i.contact-icon-phone {
    background-position: -41px -55px;
    background-color: #0088ca;
}

.follow-actions .action a:hover i.contact-icon-chat {
    background-position: -41px -18px;
    background-color: #0088ca;
}

.follow-actions .action a:hover i.contact-icon-email {
    background-position: -41px 15px;
    background-color: #0088ca;
}

#lhnContainer,
#aLHNBTN img {
    display: none !important;
}

#contact-us-modal {
    position: fixed;
    opacity: 1;
    top: 0;
    left: -103%;
    width: 100%;
    transition: opacity .5s ease, left .5s ease;
    height: 100%;
    background: #454545;
    z-index: 10000;
    text-align: center;
    overflow-y: auto;
}

.contact-dialog-close {
    display: block;
    position: absolute;
    top: 4%;
    right: 10%;
    clear: both;
    font-weight: 400;
    font-size: 13px;
    border: 1px solid #FFF;
    padding: 0 25px;
    height: 36px;
    line-height: 36px;
    border-radius: 25px;
    color: #FFF;
    text-transform: uppercase !important;
    letter-spacing: 2px;
    text-decoration: none;
    -webkit-transition: background 0.5s ease, color 0.5s ease;
    -moz-transition: background 0.5s ease, color 0.5s ease;
    transition: background 0.5s ease, color 0.5s ease;
    z-index: 1000;
}

.contact-dialog-close:hover {
    color: #737678;
    border-color: #737678;
}

#hs-form-iframe-0 {
    width: 100% !important;
}

@media screen and (min-width: 768px) {
    .col-sm-4 {
        width: 33.33%;
        float: left;
        box-sizing: border-box;
        padding: 15px 0;
    }
}

@media screen and (max-width: 768px) {
    .ftr {
        width: 50%;
    }

    .speciality-section-h {
        font-size: 40px !important;
    }

    .speciality-section p {
        width: 80%;
    }

    .home-form .tab-content .tab-pane .hbspt-form fieldset.form-columns-1 {
        max-width: 220px !important;
    }

    .only_footer form .hs_submit {
        width: 255px !important;
        float: right;
    }
}

@media screen and (min-width: 1800px) {
    .a-item .item {
        background-size: cover;
        background-position: top;
        min-height: fit-content;
    }
}


/*css animation*/

@keyframes bounceInDown {

    from,
    60%,
    75%,
    90%,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        transform: translate3d(0, -3000px, 0);
    }

    60% {
        opacity: 1;
        transform: translate3d(0, 25px, 0);
    }

    75% {
        transform: translate3d(0, -10px, 0);
    }

    90% {
        transform: translate3d(0, 5px, 0);
    }

    to {
        transform: none;
    }
}

.bounceInDown {
    animation-name: bounceInDown;
}

@keyframes bounceOutDown {
    20% {
        transform: translate3d(0, 10px, 0);
    }

    40%,
    45% {
        opacity: 1;
        transform: translate3d(0, -20px, 0);
    }

    to {
        opacity: 0;
        transform: translate3d(0, 2000px, 0);
    }
}

.bounceOutDown {
    animation-name: bounceOutDown;
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}


/* For Chat and Support  */


/* For Popup */

.hbspt-form.animated {
    background-color: white;
    padding: 37px;
    margin-top: 80px;
    padding-top: 0px;
    border-radius: 10px;
    width: 40%;
    max-width: 40%;
}

.hs-form-a5f2a80a-7ff9-4294-93d9-e87877cd3307 fieldset {
    border: none;
    padding: 0;
}

.hs-form-a5f2a80a-7ff9-4294-93d9-e87877cd3307 fieldset .field:nth-of-type(2) label,
.hs-form-a5f2a80a-7ff9-4294-93d9-e87877cd3307 fieldset .field:nth-of-type(2) input.hs-input {
    margin-left: 15px;
}

.popup-h3 {
    color: #333;
    text-align: left;
    padding-left: 0px;
    font-size: 19px;
    font-weight: 100;
    margin-bottom: 8px !important;
}

.popup-p {
    width: 100%;
    margin-bottom: 30px !important;
    float: left;
    text-align: left;
    color: #333;
}

.popup-cross {
    position: relative;
    width: 20px;
    color: #333333 !important;
    left: 100%;
    top: 0px;
    margin-left: -10px;
    border: 0;
    text-decoration: none !important;
}

.klas-logo-footer-form {
    display: none !important;
}

@media only screen and (max-width:768px) {
    .klas-logo-footer-form {
        display: none !important;
    }
}


/* For Popup */

.m-contact {
    display: none;
    position: fixed;
    bottom: 0px;
    width: 100%;
    z-index: 9;
}

.m-contact ul {
    display: flex;
    list-style: none;
    width: 100%;
    height: 48px;
    background: #0088ca;
    align-items: center;
    font-size: 20px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.m-contact ul li {
    width: 50%;
    text-align: center;
}

.m-contact ul li a {
    text-decoration: none;
    color: white;
}

.m-contact ul li .fa-demo:before {
    /*content: url(../images/icons/demo.png);*/
}

.icon-play-button {
    position: absolute;
    top: -25px;
    color: #fff;
    font-size: 52px;
    left: 0;
    right: 0;
}

.icon-play-button::before {
    background: #fff;
    color: #0088ca;
    border-radius: 50%;
}

.navbar-fixed-top .navbar-header {
    box-shadow: none;
}


/*.............................. top banner section styling.............*/

@media (max-width: 768px) {
    #toTop {
        display: none !important;
    }

    .banner-1-m {
        background: url(../images/vaccine-min.jpg) !important;
    }

    .home-carousel .banner-1-m .banner-content .b-h-2 {
        line-height: 30px;
        margin-bottom: 8px;
        margin-top: 8px;
    }

    .home-carousel .banner-1 {
        background-position: 32% !important;
    }

    .home-carousel .banner-2 {
        background-position: 73% !important;
    }

    .home-carousel .item {
        box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
    }

    .home-carousel .banner-content {
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        transform: inherit;
        top: 39%;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
        text-align: center;
    }

    .home-carousel .klas-logo-banner .banner-content {
        top: 13% !important;
    }

    .home-carousel .banner-content .b-h-1 {
        font-size: 34px !important;
        line-height: 36px !important;
        color: #fff !important;
    }

    .home-carousel .banner-content .b-h-2 {
        font-size: 22px !important;
        line-height: 1;
        color: #fff !important;
    }

    .home-carousel .banner-content a {
        color: #fff !important;
    }

    .home-carousel .banner-content a svg g {
        stroke: #fff !important;
    }

    .feature-carousel .item.text-center {
        height: 50px;
        overflow: hidden;
    }

    .features .f-h {
        font-size: 47px;
    }

    .speciality-search input {
        max-width: -webkit-fill-available;
    }

    .follow-actions,
    #toTop {
        display: none !important;
    }

    .hidden-phone {
        display: none !important;
    }

    .widthwidth .home-form .tab-content .tab-pane .hbspt-form fieldset {
        margin-bottom: 0 !important;
    }

    .widthwidth .home-form .tab-content .tab-pane .hbspt-form .hs-form-field {
        width: 100% !important;
        margin-bottom: 15px !important;
    }

    .widthwidth .home-form .tab-content .tab-pane .hbspt-form .hs-form-field .input {
        margin: 0 !important;
    }

    .widthwidth .home-form .tab-content .tab-pane .hbspt-form input {
        height: 37px !important;
    }

    .widthwidth .home-form .tab-content .tab-pane .hbspt-form fieldset.form-columns-1 {
        max-width: 100% !important;
    }

    .widthwidth .home-form .tab-content .tab-pane .hbspt-form textarea {
        max-width: 100% !important;
        height: 37px !important;
        padding-left: 5px !important;
        line-height: 2 !important;
    }

    .widthwidth .home-form .tab-content .tab-pane .hbspt-form .hs-submit {
        float: initial !important;
        width: 100% !important;
        max-width: inherit !important;
    }

    .widthwidth .title_footer {
        padding-left: 0 !important;
    }

    .widthwidth {
        margin-bottom: 50px !important;
    }

    .copyright_pad_new .phone-center {
        text-align: center;
    }

    .dmca-img {
        margin-left: auto;
        margin-right: auto;
        margin-top: 7px;
        margin-bottom: 7px;
    }

    .dmca-img .dmca {
        width: 100% !important;
    }

    .banner-2.no-banner .banner-content {
        top: 20% !important;
    }

    .news-poster {
        line-height: 30px;
        background: #ffc90e;
        width: 100%;
        color: #0088ca !important;
        font-size: 22px;
        text-decoration: underline !important;
        padding: 10px 0px;
        height: inherit !important;
    }
}

@media screen and (min-width: 1800px) {
    .a-item .item {
        background-size: cover;
        background-position: top;
    }
}

@media (min-width: 426px) and (max-width: 768px) {
    .customer-section .customer-box {
        min-height: 242px !important;
    }
}

@media (min-width: 1600px) {
    .header-pad .navbar .nav>li:hover a {
        padding-bottom: 6px !important;
    }

}


/*......................................................................*/

.se-moore .b-l {
    color: #0088ca !important;
}

.se-moore .b-l g {
    stroke: #0088ca !important;
}

.section-spacing {
    margin-top: 80px !important;
    margin-bottom: 80px !important;
}

.customer-section .row .col-md-4 {
    padding-bottom: 25px;
}

#toTopHover::before {
    height: 54% !important;
}

.Ligtgrey-bg {
    background-color: #fff;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none !important;
}

input[type="search"]:focus::-webkit-search-decoration,
input[type="search"]:focus::-webkit-search-cancel-button,
input[type="search"]:focus::-webkit-search-results-button,
input[type="search"]:focus::-webkit-search-results-decoration {
    -webkit-appearance: none !important;
}

#speciality_search::-webkit-search-cancel-button {
    -webkit-appearance: none;
    color: #fff !important;
}

@media (max-width:550px) {
    .speciality-search {
        width: 100% !important;
    }
}

.ui-menu-divider {
    display: none
}

.ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    display: none;
    min-width: 160px;
    width: 160px;
    padding-left: 5px;
    margin: 2px 0 0;
    list-style: none;
    background-color: #fff;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, .2);
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    max-height: 400px;
    overflow-y: scroll
}

.ui-autocomplete li {
    border-bottom: 1px solid #eee;
    font-size: 100%;
    height: 48px;
    line-height: 3;
    margin-bottom: 0;
    margin-left: -5px;
}

.ui-autocomplete li .ui-menu-item-wrapper {
    padding-left: 15px;
}

.ui-autocomplete li:last-child {
    border-bottom: none !important
}

.ui-menu-item>a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: 400;
    line-height: 18px;
    color: #555;
    white-space: nowrap
}

.ui-state-active,
.ui-state-hover {
    color: #fff;
    text-decoration: none;
    background-color: #08c;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    background-image: none
}

.ui-state-focus {
    color: #FFF;
    background: #1A88CA;
    outline: 0
}

.ui-autocomplete-input:focus {
    outline: 0;
    border-color: #9ecaed
}


/* Sweep To Right */

.hvr-sweep-to-right {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.hvr-sweep-to-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2098D1;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-sweep-to-right:hover,
.hvr-sweep-to-right:focus,
.hvr-sweep-to-right:active {
    color: white;
}

.hvr-sweep-to-right:hover:before,
.hvr-sweep-to-right:focus:before,
.hvr-sweep-to-right:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}


/*.....................................................................*/

.a-carousel,
.a-carousel .a-item {
    -webkit-tap-highlight-color: transparent;
    position: relative;
}

.a-carousel {
    display: none;
    width: 100%;
    z-index: 1;
}

.a-carousel .a-stage {
    position: relative;
    -ms-touch-action: pan-Y;
    touch-action: manipulation;
    -moz-backface-visibility: hidden;
}

.a-carousel .a-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.a-carousel .a-stage-outer {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0);
}

.a-carousel .a-item,
.a-carousel .a-wrapper {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
}

.a-carousel .a-item {
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-touch-callout: none;
}

.a-carousel .a-item img {
    display: block;
    width: 100%;
}

.a-carousel .a-dots.disabled,
.a-carousel .a-nav.disabled {
    display: none;
}

.no-js .a-carousel,
.a-carousel.a-loaded {
    display: block;
}

.a-carousel .a-dot,
.a-carousel .a-nav .a-next,
.a-carousel .a-nav .a-prev {
    cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.a-carousel .a-nav button.a-next,
.a-carousel .a-nav button.a-prev,
.a-carousel button.a-dot {
    background: 0 0;
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit;
}

.a-carousel.a-drag .a-item {
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.a-height {
    transition: height .5s ease-in-out;
}

.a-carousel .a-item .a-lazy {
    opacity: 0;
    transition: opacity .4s ease;
}

.a-carousel .a-item .a-lazy:not([src]),
.a-carousel .a-item .a-lazy[src^=""] {
    max-height: 0;
}

.a-carousel .a-item img.a-lazy {
    transform-style: preserve-3d;
}

.autocomplete-items {
    position: absolute;
    width: 100%;
    left: 0;
    top: 85px;
    padding-left: 5px;
    list-style: none;
    z-index: 99999;
    background-color: #fff;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, .2);
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    max-height: 400px;
    overflow-y: scroll;
}

.autocomplete-items .autocomplete-itemsItem {
    border-bottom: 1px solid #eee;
    height: 48px;
    line-height: 3;
    margin-bottom: 0;
    margin-left: -5px;
    cursor: pointer;
    padding-left: 15px;
    color: #333333;
    font-size: 16px;
    text-decoration: none;
    display: block;
}

.autocomplete-items .autocomplete-itemsItem a {
    padding-left: 15px;
    color: #333333;
    font-size: 16px;
    text-decoration: none;
}

.autocomplete-items .autocomplete-itemsItem:hover {
    background: #0088ca;
    color: #fff;
}

.wistia_popover_mode {
    width: 100% !important;
    overflow-x: hidden !important;
    overflow-y: hidden !important;
}

.wistia_popover_mode div[tabindex="0"]~.wistia_popover_embed {
    position: fixed !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    left: 0 !important;
    z-index: 99999 !important;
    margin-left: auto !important;
    margin-right: auto !important;
    right: 0 !important;
    top: 0 !important;
    bottom: 0 !important;
    margin-top: auto;
    margin-bottom: auto;
}



@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0px;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

#myDiv {
    display: none;
    text-align: center;
}